body {
    background-color: black;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('fonts/NotoSansKR-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterBlack';
    src: url('fonts/Inter_28pt-Black.ttf') format('truetype');
}

h2, h3, h4, h5 {
    font-family: 'NotoSansKR', sans-serif;
}

.title0 {
    font-family: 'InterBlack', sans-serif;
    font-size: 30px;
    color: #ff3000;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 380px;
}
.title1 {
    font-size: 24px;
    color: #ff3000;
}
.title2 {
    font-size: 19px;
    line-height: 1.6;
    color: #ff3000;
}
.subt0 {
    font-size: 21px;
    color: #fdfff5;
}
.subt1 {
    font-size: 15px;
    color: #ff3000;
    line-height: 1.8;
}
.subt2 {
    font-size: 12px;
    color: #ff3000;
}
.cont {
    position: relative;
    width: 360px;
    margin: 0 auto;
}
.imgs {
    max-width: 100%;
    height: auto;
}

.left-incont{
    position:relative;
    margin: auto 0 0 0;
}

.eedoface {
    width:280px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media (max-width: 400px){

    .eedoface {
        width: 280px;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

}
