body
{
    background-color:black;
}

.eedoFace {
    width: 400px;
    height: 400px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

 .page
 {
     position:relative;
     width: 400px;
     max-width: 400px;
     height: 4700px;
     margin-left:auto;
     margin-right:auto;
 }

h2 {
    margin-left:12px;
    color: #fdfff5;
}

h3 {
    margin-left: 12px;
    color: #ff3000;
}

h4, h5 {
    margin: 0;
    color: #ff3000;
}

#page0{
    position:relative;
    top: 0;
}

#eedoT {
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#eedoTd {
    position: absolute;
    top: 640px;
    z-index: 0;
}

/* 2페이지*/
#page1 {
    position: relative;
    top: 1100px;
}

#page1-1 {
    position: relative;
    top: 1200px;
}

.frontpage {
    z-index: 4;
}

.wrapperR {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0;
}

.imgs {
    max-width: 100%;
    height: auto;
}